.block-text {
    font-weight: 400;
    font-size: 44px;
    line-height: 1.13636;
    text-transform: uppercase;
    color: #fff;
}

.block-text:before {
    content: "“ ";
    font-weight: 900;

    font-size: 44px;
    line-height: 1.13636;
    text-transform: uppercase;
    color: #6c0287;
}

.block-text:after {
    content: " ” ";
    font-weight: 900;

    font-size: 44px;
    line-height: 1.13636;
    text-transform: uppercase;
    color: #6c0287;
    transform: rotate(180deg);
}

.author {
    display: flex;
    justify-content: right;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: #fff;
}

.author-padin {
    padding-right: 30px;
}