.wrapper-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 298px 298px;
    column-gap: 80px;
}

.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: var(--color-text, #fff);
}

.block-text {
    position: relative;
    font-weight: 400;
    font-size: 44px;
    line-height: 1.13636;
    text-transform: uppercase;
    color: var(--color-text, #fff);
}



.bg-image {
    width: 600px;
    background-image: url(../img/about.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 1;
    grid-row: 1 / 3;
}

.wrapper-about__content__text {
    width: 500px;
    height: 222px;
    grid-column: 2;
    grid-row: 1;

}

.about__autor {
    width: 500px;


    grid-column: 2;
    grid-row: 2;
}



.about__autor-wrap {
    position: relative;
    padding-left: 35px;
    margin-bottom: 40px;
}


.about__autor-wrap:before {

    content: " “ ";
    position: absolute;
    left: 0;
    top: -20px;
    padding-left: -20px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.13636;
    text-transform: uppercase;
    color: var(--color-287, #6c0287);
}

.block-text:after {
    content: " ” ";
    font-weight: 900;

    font-size: 44px;
    line-height: 1.13636;

    text-transform: uppercase;
    color: var(--color-287, #6c0287);
    transform: rotate(180deg);
}

.author {
    padding-left: 70px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: var(--color-text, #fff);
}

.author-padin {
    padding-right: 30px;

}

@media (max-width: 1395px) {


    .about__autor-wrap {
        margin-bottom: 20px;
    }

    .container__about {
        height: 400px;
    }

    .bg-image {
        width: 420px;
        height: 417px;
    }

    .wrapper-about__content__text {

        height: 195px;
        font-size: 18px;
    }

    .about__text {
        font-size: 18px;
    }

    .about__autor {
        width: 444px;
    }

    .block-text {
        font-size: 30px;
    }

    .author__padin2 {
        font-size: 18px;
    }
}

@media (max-width: 900px) {
    .wrapper-about {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 184px;
        gap: 30px 28px;
    }

    .bg-image {
        width: 382px;
        height: 380px;
        grid-column: 1;
        grid-row: 1;
    }

    .about__text {
        font-size: 16px;
        grid-column: 2;
        grid-row: 1;
    }

    .about__autor {
        width: 688px;
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .block-text {
        font-size: 32px;
    }

    .wrapper-about__content__text {
        width: 278px;
        height: 195px;
        font-size: 18px;
        align-self: center;
    }

    .author {
        padding-left: 368px;
    }

    .author-padin {
        width: 90px;
        height: 90px;
    }

    .author__padin2 {
        font-size: 16px;
    }
}