.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: var(--color-text, #fff);
}

.block-text {
    font-weight: 400;
    font-size: 44px;
    line-height: 1.13636;
    text-transform: uppercase;
    color: var(--color-text, #fff);
}



.bg-image {
    display: inline-block;
    width: 600px;
    height: 596px;
    margin-right: 70px;
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
}

.wrapper-about__content__text {
    width: 500px;
    height: 222px;
    margin-bottom: 60px;
}

.about__autor {
    width: 500px;
    height: 325px;


}

.inline-block {
    display: inline-block;
    vertical-align: top;
}



.block-text:before {
    content: "“ ";
    font-weight: 900px;

    font-size: 44px;
    line-height: 1.13636;
    text-transform: uppercase;
    color: var(--color-287, #6c0287);
}

.block-text:after {
    content: " ” ";
    font-weight: 900;

    font-size: 44px;
    line-height: 1.13636;
    text-transform: uppercase;
    color: var(--color-287, #6c0287);
    transform: rotate(180deg);
}

.author {
    display: flex;
    justify-content: right;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: var(--color-text, #fff);
}

.author-padin {
    padding-right: 30px;
}