.adress__item-map:before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 32px;
    background-image: url(/icon/imgfoot/location.svg);

}

.adress__item-tell:before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 32px;
    background-image: url(/icon/imgfoot/phone-call.svg);
}

.adress__item-mail:before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 32px;
    background-image: url(/icon/imgfoot/envelope.svg)
}

.social__list {
    display: flex;
    justify-content: space-between;
    width: 280px;
}

.adress__item {
    list-style: none;

}

ul a {
    text-decoration: none;
    color: inherit;
}

.adress__list {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16667;
    color: #fff;
}

.social__link {
    display: block;
    width: 50px;
    height: 50px;
    color: #fff;
}