.footer {
    height: 675px;
    background: linear-gradient(180deg, #1b1a1b 0%, #370a37 100%);
}



.container__footer-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.adress {

    margin-bottom: 40px;
}

.container__footer-wrap_flex {}

.float-text {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

.adress__item-map {
    margin-bottom: 39px;
}

.adress__item-tell {
    margin-bottom: 11px;
}

.float-text::before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
    vertical-align: bottom;
    padding-right: 40px;
    background-repeat: no-repeat;
    background-image: url(/icon/img/location.svg);
}

.float-text-tel::before {
    background-image: url(/icon/img/telephon.svg);
}

.float-text-emal::before {
    background-image: url(/icon/img/envelope.svg);
}



.social__list {
    display: flex;
    justify-content: space-between;
    order: 3;
    width: 280px;
}

.adress__item {
    display: flex;
    list-style: none;


}

ul a {
    text-decoration: none;
    color: inherit;
}

.adress__list {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16667;
    color: var(--color-text, #fff);
    margin-bottom: 40px;
}

.social__link {
    display: block;
    width: 50px;
    height: 50px;
    color: var(--color-text, #fff);
}

.social__link:hover {
    color: #eadeed;
}

.social__link:focus {
    color: #eadeed;
}

.social__link:active {
    color: var(--color-6ff, #cd06ff);
}

.footer__location {
    background-image: url(../img/map.jpg);
    background-size: contain;
    width: 680px;
    min-height: 274px;
}

.footer__info-team {
    display: flex;
    justify-content: space-between;
    padding-top: 145px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14286;
    color: #fff;
}

.footer__info-team2 {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.footer__info-team-designer {
    margin-bottom: 5px;
}


@media (max-width: 1395px) {
    .footer__location {
        width: 542px;
    }
}

@media (max-width: 911px) {
    .footer {
        height: 862px;
    }

    .container__footer-wrap {
        justify-content: center;
        row-gap: 30px;
    }

    .footer__location {
        width: 688px;
    }


    .adress__item {
        margin: 25px auto;
    }

    .adress__item:last-child {
        margin: 0 auto;
    }

    .social {
        margin: 0 auto;
    }

    .footer__info-team {
        padding-top: 75px;
    }
}

@media (max-width: 580px) {
    .footer {
        height: 732px;
    }

    .footer__container {
        padding: 0;

    }



    .adress__list {
        font-size: 14px;
        vertical-align: bottom;
    }

    .adress__item {
        margin: 10px auto;
    }

    a>svg {
        width: 30px;
        height: 30px;
    }



    .footer__location {
        max-width: 320px;
        height: 194px;
        align-self: center;
        background-size: cover;
        margin-bottom: 63px;
    }

    .container_bgcolor {
        justify-content: center;
    }

    .social__list {
        justify-content: center;
        gap: 20px;
        margin-bottom: 35px;
    }

    .social__link {
        width: 30px;
        height: 30px;
    }

    .adress__list {
        margin-bottom: 10px;
    }

    .container_bgcolor {
        justify-content: flex-start;
    }

    .footer__title {
        margin-bottom: 20px;
    }

    .footer__info-team {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }

    .footer__info-team2 {
        align-items: center;
    }

    .footer__info-team-copyright {
        margin-bottom: 19px;
    }

    .footer__info-team-designer {
        margin-bottom: 5px;
    }

}