.item__questions {
    background-color: #fff;
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin-bottom: 20px;
    list-style: none
}

.item__questions:nth-child(2n) {
    background-color: #440F51;
    color: white;
}

.fag-li:after {
    content: "";
    display: inline-block;
    float: right;
    width: 46px;
    height: 46px;
    background-image: url(/icon/img/open-purple.svg);
}

.fag-li:nth-child(2n):after {
    background-image: url(/icon/img/open.svg);
}