.fag__item {
    background-color: #fff;
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin-bottom: 20px;
    list-style: none
}

.fag__item:last-child {
    margin-bottom: 0;
}


.fag__item:nth-child(2n) {
    background-color: #440F51;
    color: white;
}

.fag__item_bg-img:after {
    content: "";
    display: inline-block;
    float: right;

    width: 46px;
    height: 46px;
    background-image: url(/icon/img/open-purple.svg);
}

.fag__item_bg-img:nth-child(even):after {
    background-image: url(/icon/img/open.svg);

}