.fag__list-white {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1180px;
    height: 87px;
    background-color: var(--color-text, #fff);
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin-bottom: 20px;
    list-style: none
}

.fag__list_purpul {}

.fag__item {
    width: 980px;
    font-weight: 700;
    font-size: 24px;
    list-style: none
}

.fag__list-white:nth-child(2n) {
    background-color: var(--color-main, #440F51);
}

.fag__item_purpul {
    color: var(--color-text, #fff);
}

.faq-button {
    background-image: url(../icon/img/open-purple.svg);
    background-color: var(--color-text, #fff);
    width: 46px;
    height: 46px;
    border: none;
}

.faq-button-white {
    background-image: url(../icon/img/open.svg);
    background-color: var(--color-main, #440F51);
    width: 46px;
    height: 46px;
    border: none;
}

.faq-button:hover {
    background-image: url(../icon/img/openbutonpurpul.svg);
    width: 46px;
    height: 46px;
}

.faq-button:active {
    background-image: url(../icon/img/activepurp.svg);
    width: 46px;
    height: 46px;
}

.faq-button-white:hover {
    background-image: url(../icon/img/hoverwhite.svg);
    width: 46px;
    height: 46px;
}

.faq-button-white:active {
    background-image: url(../icon/img/activewhite.svg);
    width: 46px;
    height: 46px;
}