html {
    box-sizing: border-box;
    position: relative;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    width: 1440px;
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #1B1A1B;
    color: #FFFFFF;

}

.container {
    max-width: 1440px;
    margin-bottom: 100px;


}

section {
    padding: 0 130px;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,

h3,
h4 {
    margin: 0;
}

h2 {
    margin-bottom: 60px;
}

body h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.25;
    text-transform: uppercase;
    text-align: center;
    color: #fff;


}

blockquote {
    text-transform: uppercase;
}

h4 {
    margin: 0;
}