.container__baner {
    display: flex;
    position: relative;
    max-width: 1180px;
    height: 823px;

}



.header {
    margin-bottom: 50px;
}

.container-header {
    margin-bottom: 50px;
}

.container__baner::before {
    content: "";
    display: block;
    position: absolute;
    width: 675px;
    height: 762px;
    background-image: url(../img/banner.png);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    z-index: 20;
}


.container__baner__paragraph {
    position: absolute;
    z-index: 2;
    font-weight: 900;
    font-size: 150px;
    margin-top: 0px;
    margin-bottom: 0;
    line-height: 1;
    letter-spacing: -0.1em;
    text-align: center;
    color: var(--color-text, #fff);
    text-align: left;

}

.container__baner__text {
    position: absolute;
    top: 150px;
    padding-left: 100px;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.78571;
    color: var(--color-text, #fff);
}



.container__hall {
    font-weight: 700;
    font-size: 70px;
    line-height: 1.14286;

    text-align: center;
    color: var(--color-text, #fff);
}



.container__hall__item {
    width: 580px;
    height: 349px;
    display: inline-block;
    margin-bottom: 20px;
    position: relative;


}

.container__hall__item:nth-last-child(-n+ 2) {
    margin: 0;
}


.container__hall-vibes {
    background-image: url(../img/80vibes.jpg);
    background-repeat: no-repeat;
    background-size: contain;

}

.container__hall-starwars {
    background-image: url(../img/star\ wars.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.container__hall-wildwest {
    background-image: url(../img/wild\ west.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.container__hall-neon {
    background-image: url(../img/neon\ style.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.container__hall__text {


    font-weight: 700;
    font-size: 70px;
    line-height: 1.14286;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-text, #fff);
}

.span {
    padding-top: 94px;
    width: 252px;
    margin: 0 auto;


}

.container__baner__content {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    text-align: center;
}

.container__baner__wrapper {
    display: flex;
    align-items: flex-end;
    margin-bottom: 150px;
}

.container__baner__content__text-color {
    font-weight: 900;
    font-size: 100px;
    color: #cd06ff;
}

.container__baner__content__text-color2 {
    font-weight: 900;
    font-size: 75px;
    font-variant: all-small-caps;
    color: #cd06ff;
}

.container__baner__content__text {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: var(--color-text, #fff);
}

.container__baner__content__tr {
    align-self: flex-end;
    margin-right: 40px;

}

.container__baner__content__tr1 {

    align-self: flex-end;
}

.container__baner__button {
    position: absolute;
    left: 0;
    bottom: 200px;
    z-index: 50;
    border-radius: 10px;
    width: 374px;
    height: 80px;
    background: var(--color-287, #6c0287);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15385;
    text-transform: uppercase;
    color: var(--color-text, #fff);
}

.container__baner__button:hover {
    background-color: #840aa3;

}

.container__baner__button:focus {
    background-color: #840aa3;
}

.container__baner__button:active {
    background-color: #640aa3;
}

.container__button__moving {
    position: absolute;
    padding: 0;
    color: var(--color-text, #fff);
    width: 97px;
    height: 97px;
    bottom: 90px;
    left: 540px;
    z-index: 150;
    border: none;
    background-image: none;
    background-color: transparent;
}




.container__button__moving:hover {
    border-radius: 100%;
    width: 97px;
    height: 97px;
    fill: var(--color-text, #fff);
    stroke: var(--color-287, #6c0287);
    background-color: #fff;
}



.container__button__moving:active {
    border-radius: 100%;
    width: 97px;
    height: 97px;
    fill: #cd06ff;
    stroke: var(--color-text, #fff);
    background-color: var(--color-6ff, #cd06ff);

}

@media (max-width: 1395px) {
    .container__baner__paragraph {
        font-size: 120px;
    }

    .container__baner {
        display: flex;
        position: relative;
        max-width: 904px;
        height: 583px;
    }

    .container__baner__content {
        padding-top: 150px;
    }

    .container__baner::before {
        width: 453px;
        height: 520px;
    }

    .header {
        margin-bottom: 30px;
    }

    .container__baner__paragraph {
        font-size: 120px;
    }

    .container__baner__text {
        font-size: 22px;
        top: 120px;

    }

    .container__baner__content__text-color {
        font-size: 80px;
    }

    .container__baner__content__text-color2 {
        font-size: 60px;
    }

    .container__baner__content__text {
        font-size: 26px;
    }

    .container__baner__button {
        width: 296px;
        height: 64px;
    }

    .container__baner__button {
        font-size: 22px;

        bottom: 90px;
        left: 39px;
    }

    .container__button__moving {
        width: 67px;
        height: 67px;
        left: 418px;
    }

    .container__hall__item {
        width: 442px;
        height: 267px;
    }

    .span {
        padding-top: 50px;
        width: 200px;

    }

    .container__hall__text {
        font-weight: 700;
        font-size: 50px;
        line-height: 1.2;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
    }

}