.container__hall-list {
    --cart-count: 2;
    --gap: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    font-weight: 700;
    line-height: 1.14286;
    text-align: center;
    color: var(--color-text, #fff);
    gap: var(--gap);
}

.container__hall-item {

    flex-basis: calc(100% / var(--cart-count) - (var(--gap) * (var(--cart-count) - 1)) / var(--cart-count));
}

.container__hall-link {
    display: flex;
    font-size: 70px;
    line-height: 1.14286;
    text-transform: uppercase;
    align-items: center;
    color: #fff;
    justify-content: center;
    max-width: 580px;
    height: 349px;
    background-image: url(../img/80vibes.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.container__hall-link-star {
    background-image: url(../img/star\ wars.jpg);
}

.container__hall-link-wild {
    background-image: url(../img/wild\ west.jpg);
}

.container__hall-link-neon {
    background-image: url(../img/neon\ style.jpg);
}

.container__hall__text {
    font-weight: 700;
    font-size: 70px;

    color: var(--color-text, #fff);
}

@media (max-width: 1395px) {
    .container__hall-item {
        height: 267px;
    }

    .container__hall-link {
        height: 265px;
        font-size: 50px;
    }

}

@media (max-width: 1395px) {
    .container__hall-item {

        height: 200px;
    }

    .container__hall-link {

        height: 200px;
        font-size: 50px;
    }

    .container_position {
        padding-bottom: 0;
    }
}

@media (max-width: 580px) {
    .container__hall-list {
        --cart-count: 1;
        --gap: 20px;
    }

    .container__hall-item {
        height: 168px;
    }

    .container__hall-link {
        font-size: 26px;
        height: 168px;
    }
}