.container__baner {
    display: flex;
    position: relative;
    width: 1180px;
    height: 823px;

}


.container__baner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/img/banner.png);
    background-position: bottom right 0px;
    background-repeat: no-repeat;
    background-size: 675px 762px;
    z-index: 20;
}


.container__baner__paragraph {
    position: absolute;
    z-index: 2;
    font-weight: 900;
    font-size: 150px;
    margin-top: 0px;
    margin-bottom: 0;
    line-height: 1;
    letter-spacing: -0.1em;
    text-align: center;
    color: #fff;
    text-align: left;

}

.container__baner__text {
    position: absolute;
    top: 150px;
    margin-top: 0;
    padding-left: 100px;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.78571;
    color: #fff;
}



.container__hall {
    vertical-align: top;
    list-style: none;
    font-weight: 700;
    font-size: 70px;
    line-height: 1.14286;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}



.container__hall__item {
    width: 580px;
    height: 349px;
    display: inline-block;
    margin-bottom: 20px;
    position: relative;


}

.container__hall__item:nth-last-child(-n+ 2) {
    margin: 0;
}


.container__hall-vibes {
    background-image: url(/img/80vibes.jpg);
    background-repeat: no-repeat;

}

.container__hall-starwars {
    background-image: url(/img/star\ wars.jpg);
    background-repeat: no-repeat;

}

.container__hall-wildwest {
    background-image: url(/img/wild\ west.jpg);
    background-repeat: no-repeat;

}

.container__hall-neon {
    background-image: url(/img/neon\ style.jpg);
    background-repeat: no-repeat;

}

.container__hall__text {
    text-decoration: none;

    font-weight: 700;
    font-size: 70px;
    line-height: 1.14286;
    text-transform: uppercase;
    word-wrap: break-word;
    text-align: center;
    color: #fff;

}

.span {
    padding-top: 135px;
}


.container__baner__content {
    width: 500px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    text-align: center;
}

.container__baner__wrapper {
    display: flex;
    align-items: flex-end;
    margin-bottom: 150px;
}

.container__baner__content__text-color {
    font-weight: 900;
    font-size: 100px;
    color: #cd06ff;
}

.container__baner__content__text-color2 {
    font-weight: 900;
    font-size: 75px;
    font-variant: all-small-caps;
    color: #cd06ff;
}

.container__baner__content__text {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #fff;
}

.container__baner__content__tr {
    align-self: flex-end;
    margin-right: 40px;

}

.container__baner__content__tr1 {

    align-self: flex-end;
}

.container__baner__button {

    border-radius: 10px;
    width: 374px;
    height: 80px;
    background: #6c0287;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15385;
    text-transform: uppercase;
    color: #fff;
}