.header {
    padding-top: 38px;
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.navigation__list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.navigation__link {
    font-weight: 400;
    font-size: 22px;
    line-height: 2.27273;
    text-transform: uppercase;
    color: var(--color-text, #fff);
}

.navigation-button {
    border: 3px solid var(--color-6ff, #cd06ff);
    border-radius: 10px;
    width: 280px;
    height: 55px;
    background: #1b1a1b;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.36364;
    text-transform: uppercase;
    color: var(--color-text, #fff);
    align-self: center;
}



.navigation-button:hover {
    background-color: var(--color-287, #6c0287);
    border: 3px solid var(--color-287, #6c0287);
    border-radius: 10px;

}

.navigation-button:focus {
    background-color: var(--color-287, #6c0287);
    border-radius: 10px;
    width: 280px;
    height: 55px;
}

.navigation-button:active {
    background-color: #640aa3;
    border: 1px solid #000;
    border-radius: 10px;
    width: 280px;
    height: 55px;
}