.header {
    padding-top: 38px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    height: 66px;
}

.header__logo {
    margin-right: 96px;
}

.input[type="checkbox"] {
    display: none;
}

.navigation__label {
    display: none;
    border: none;
    background-image: url(/icon/img/menu.svg);
    background-color: #1b1a1b;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 55px;
    height: 40px;

}




.navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-right: 97px;
}

.navigation__link {
    font-weight: 400;
    font-size: 22px;
    line-height: 2.27273;
    text-transform: uppercase;
    color: var(--color-text, #fff);
}

.navigation-button {
    border: 3px solid var(--color-6ff, #cd06ff);
    border-radius: 10px;
    width: 280px;
    height: 55px;
    background: #1b1a1b;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.36364;
    text-transform: uppercase;
    color: var(--color-text, #fff);
    align-self: center;
}



.navigation-button:hover {
    background-color: var(--color-287, #6c0287);
    border: 3px solid var(--color-287, #6c0287);
    border-radius: 10px;

}

.navigation-button:focus {
    background-color: var(--color-287, #6c0287);
    border-radius: 10px;

}

.navigation-button:active {
    background-color: #640aa3;
    border: 1px solid #000;
    border-radius: 10px;

}

@media (max-width: 1395px) {
    .header__logo {
        width: 87px;
        height: 55px;
        margin-right: 79px;
    }

    .navigation__link {
        font-size: 18px;

    }

    .navigation__list {
        gap: 20px;
        margin-right: 79px;
    }

    .navigation-button {
        font-size: 18px;
        max-width: 229px;
        height: 45px;
        font-size: 18px;
    }
}

@media (max-width: 900px) {

    .container-header {
        display: flex;
        justify-content: space-between;
    }

    .navigation {
        order: -1;
    }

    .navigation__label {
        display: block;
        order: 1;
    }

    .navigation__list {
        display: none;
    }

    .header__logo {
        margin: 0;
    }



    .navigation__label-img:hover {
        background-image: url(/icon/img/menuhover.svg);

    }

    .navigation__label-img:focus {
        background-image: url(/icon/img/menuvocus.svg);

    }

    .navigation__label-img:active {
        background-image: url(/icon/img/menuactyve.svg);

    }
}

@media (max-width: 580px) {
    .header {
        padding-top: 20px;
    }

    .navigation-button {
        display: none;
    }

    .header__logo {
        order: 2;
        width: 66px;
        height: 42px;
    }

    .navigation__label {
        width: 40px;
        height: 20px;
    }
}