.reserv__container {
    padding-top: 80px;
    width: 1440px;
    height: 1114px;
    background-color: #440f51;

}

.reserv-entertainmen-flex {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.reserv-hall {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.reserv__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16667;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.reserv-hall__radio__button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.reserv-hall__radio__button input[type=radio] {
    display: none;

}

.reserv-hall__radio__button label {
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
}

.reserv-hall__radio__button input[type=radio]:checked+label {
    border: 3px solid #cd06ff;
    border-radius: 8px;
    width: 250px;
    height: 55px;
}



.reserv-hall__radio__button label {
    cursor: pointer;
    padding: 8px 25px;
    line-height: 40px;
    width: 250px;
    height: 55px;
    background-color: #fff;
    color: #000;
    border-radius: 6px;
    user-select: none;
}

.reserv-hall__label {
    padding-top: 50px;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.33333;
    text-transform: uppercase;
    color: #000;
}



.reserv-consol {
    display: flex;
    flex-direction: column;

}

.reserv-game {
    display: flex;
    flex-direction: column;
}

.reserv-additionally {
    display: flex;
    flex-direction: column;
}

input[type='radio'] {
    transform: scale(2);
}

input[type='checkbox'] {
    transform: scale(2);


}

.reserv-additionally__input,
.reserv-consol__input,
.reserv-game__input {
    margin-right: 12px;
}

.reserv__text-h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16667;
    color: #fff;
    margin-bottom: 24px;
}

.reserv-consol__label_mb,
.reserv-game__label_mb,
.reserv-additionally__label_mb {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    padding-left: 5px;
}

.reserv-date {

    border: none;
}

.reserv-date-position {
    display: flex;
    justify-content: center;
}

.reserv-date__wrap {
    width: 1010px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: ;
    gap: 40px 50px;
}

.reserv-date__label {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14286;
    color: #fff;
}

.reserv__form__button {
    margin-left: auto;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.27273;
    text-transform: uppercase;
    color: #6c0287;
}

.reserv__form__button:hover {
    background-color: #eadeed;
    border: 3px solid #6c0287;

}

.reserv__form__button:focus {
    border: 3px solid #6c0287;
    background-color: #fff;
}

.reserv__form__button:active {
    background-color: #eadeed;
}

.reserv-date__input {
    width: 300px;
    height: 52px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    color: #211e1e;
    padding-left: 20px;

}

.reserv-date__input_1 {
    margin-right: 32px;
    width: 134px;
    height: 52px;
}

.reserv-date__input_2 {
    width: 134px;
    height: 52px;
}

.boxx {
    position: relative;
}

.reserv-date__label1 {
    position: absolute;
    top: -16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14286;
    color: #fff;
}

.label-box-name {
    position: relative;
}

.reserv-date-label-name {
    position: absolute;
    top: -16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14286;
    color: #fff;
}

.label-box-tel {
    position: relative;
}

.reserv-date-label-tel {
    position: absolute;
    top: -16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14286;
    color: #fff;
}

.label__box-sum {
    position: relative;
}

.reserv-date_sum {
    position: absolute;
    top: -16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14286;
    color: #fff;
}

.label-box-surname {
    position: relative;
}

.reserv-date-label-surname {
    position: absolute;
    top: -16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14286;
    color: #fff;
}

.label-box-email {
    position: relative;
}

.reserv-date__label-e-mail {
    position: absolute;
    top: -16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14286;
    color: #fff;
}

input:focus {
    outline: 2px solid #cd06ff;
}

.reserv-date__input:focus {
    outline: 2px solid #cd06ff;

}