.reserv__bgc {
    background-color: var(--color-main, #440f51);
}

.reserv__container {

    padding-top: 80px;
    max-width: 1440px;
    height: 1114px;
    background-color: var(--color-main, #440f51);

}

.reserv-entertainmen-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 60px;
}

.reserv-hall {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}

.reserv__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16667;
    text-align: center;
    color: var(--color-text, #fff);
    margin-bottom: 40px;
}

.reserv-hall__radio__button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.reserv-hall__input[type=radio] {
    display: none;
}

.reserv-hall__label {
    width: 250px;
    padding: 0 15px;
    line-height: 34px;
    border: 3px solid #fff;
    border-radius: 6px;
    user-select: none;
}

.reserv-hall__radio__button input[type=radio]:checked+label {
    border: 3px solid #cd06ff;
    border-radius: 6px;
}

.reserv-hall__label:hover {
    border: 3px solid #640aa3;
    border-radius: 8px;
    background: #eadeed;
}

.reserv-hall__label:active {
    border: 3px solid #fff;
    background: #6c0287;
    color: #fff;
}

.reserv-hall__label {
    padding-top: 50px;
    padding: 8px 23px;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.33333;
    text-transform: uppercase;
    color: #000;
    background-color: var(--color-text, #fff);
}



.reserv-consol {
    display: flex;
    flex-direction: column;

}

.reserv-game {
    display: flex;
    flex-direction: column;

}

.reserv-additionally {
    display: flex;
    flex-direction: column;

}

input[type='radio'] {
    transform: scale(2);
}

input[type='checkbox'] {
    transform: scale(2);
}

.reserv-additionally__input,
.reserv-consol__input,
.reserv-game__input {
    margin-right: 12px;
}

.reserv__text-h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16667;
    color: var(--color-text, #fff);
    margin-bottom: 24px;
}

.reserv-consol__label_mb,
.reserv-game__label_mb,
.reserv-additionally__label_mb {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 22px;
    color: var(--color-text, #fff);
    padding-left: 5px;
}

.reserv-date {
    border: none;
}


.reserv-date__wrap {
    display: grid;
    grid-template-columns: 300px 280px;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    gap: 40px 50px;
}

.reserv-date__wr {
    display: flex;
    justify-content: space-between;
    grid-column: 1;
}

.reserv-date__label {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14286;
    color: var(--color-text, #fff);
}

.reserv__form__button {
    grid-column: 3;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.27273;
    text-transform: uppercase;
    color: var(--color-287, #6c0287);
}

.reserv__form__button:hover {
    background-color: #eadeed;
    border: 3px solid var(--color-287, #6c0287);

}

.reserv__form__button:focus {
    border: 3px solid var(--color-287, #6c0287);
    background-color: var(--color-text, #fff);
}

.reserv__form__button:active {
    background-color: #eadeed;
}

.reserv-date__input {
    width: 300px;
    height: 52px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    color: #211e1e;
    padding-left: 20px;

}

.reserv-date__input_1 {
    grid-column: 1;
    grid-row: 1;
    width: 134px;
    height: 52px;
}

.reserv-date__input_2 {
    grid-column: 2;
    grid-row: 1;
    width: 134px;
    height: 52px;
}

.boxx {
    position: relative;
}

.reserv-date__label1 {
    position: absolute;
    top: -16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14286;
    color: var(--color-text, #fff);
}

.label-box-name {
    position: relative;
    grid-column: 2;
}

.reserv-date-label-name {
    position: absolute;
    top: -16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14286;
    color: var(--color-text, #fff);
}

.label-box-tel {
    position: relative;
}

.reserv-date-label-tel {
    position: absolute;
    top: -16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14286;
    color: var(--color-text, #fff);
}

.label__box-sum {
    position: relative;
}

.reserv-date_sum {
    position: absolute;
    top: -16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14286;
    color: var(--color-text, #fff);
}

.label-box-surname {
    position: relative;
}

.reserv-date-label-surname {
    position: absolute;
    top: -16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14286;
    color: var(--color-text, #fff);
}

.label-box-email {
    position: relative;
}

.reserv-date__label-e-mail {
    position: absolute;
    top: -16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14286;
    color: var(--color-text, #fff);
}

input:focus {
    outline: 2px solid var(--color-6ff, #cd06ff);
}

.reserv-date__input:focus {
    outline: 2px solid var(--color-6ff, #cd06ff);

}

@media (max-width: 1395px) {

    .reserv__container {
        padding-top: 80px;
        max-width: 1024px;
        height: 1114px;
    }

    .reserv-hall__radio__button label {

        width: 180px;
        height: 44px;
    }

    .reserv-hall__label {
        padding-top: 8px;
        padding-left: 23px;
        font-size: 20px;
    }

    .reserv-date__input {
        width: 100%;

    }

    .reserv-date__input_1 {
        width: 134px;
        height: 52px;
    }

    .reserv-date__input_2 {
        width: 134px;
        height: 52px;
    }

    .reserv-date__input_3 {
        width: 100%;
    }

    .reserv-entertainmen-flex {
        justify-content: space-between;
    }

    .reserv-date__wrap {
        gap: 40px 50px;
    }

    .reserv__form__button {
        width: 100%;
        height: 50px;

        font-size: 18px;

    }
}

@media (max-width: 911px) {

    .reserv__container {

        height: 1307px;
    }

    .reserv-entertainmen-flex {
        justify-content: flex-start;
        gap: 30px 150px;
    }

    .reserv-hall__radio__button label {
        width: 150px;
        height: 38px;
    }

    .reserv-hall__label {
        padding-left: 19px;
        font-size: 16px;
    }

    .reserv-date__wrap {
        grid-template-columns: 280px 300px;
        grid-template-rows: repeat(4, 1fr);
        justify-content: space-between;
    }

    .label-box-name {
        grid-column: 1;
        grid-row: 2;
    }

    .label-box-surname {
        grid-column: 1;
        grid-row: 3;
    }

    .reserv-date__label {
        grid-column: 2;
        grid-row: 1;
    }

    .label-box-tel {
        grid-column: 2;
        grid-row: 2;
    }

    .label-box-email {
        grid-column: 2;
        grid-row: 3;
    }

    .reserv__form__button {
        grid-column: 2;
        grid-row: 4;
    }
}

@media (max-width: 580px) {
    .reserv__container {
        padding-top: 30px;
        height: 1519px;
    }

    .reserv-hall {
        gap: 14px 20px;
        margin-bottom: 30px;
    }

    .reserv__text {
        font-size: 14px;
        margin-bottom: 25px;
    }

    .reserv-hall__radio__button {
        width: 130px;
        height: 30px;
    }

    .reserv-hall__label {
        padding: 8px 17px;
        font-size: 14px;
        line-height: 1.28571;
    }

    .reserv__text-h4 {
        font-size: 14px;
        margin-bottom: 25px;
    }


    .reserv-consol__label {
        font-size: 16px;
    }

    .reserv-game__label {
        font-size: 16px;
    }

    .reserv-additionally__label {
        font-size: 16px;
    }


    .reserv-consol__input {
        margin-right: 30px;
    }

    .reserv-game__input {
        margin-right: 30px;
    }

    .reserv-additionally__input {
        margin-right: 30px;
    }

    input[type='radio'] {
        transform: scale(2.5);
    }

    input[type='checkbox'] {
        transform: scale(2.5);
    }

    .reserv-date__wrap {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
    }

    .reserv-date__wr {
        grid-column: 1;
        grid-row: 1;
    }

    .reserv-date__label {
        grid-column: 1;
        grid-row: 2;
    }

    .label-box-name {
        grid-column: 1;
        grid-row: 3;
    }

    .label-box-surname {
        grid-column: 1;
        grid-row: 4;
    }

    .label-box-tel {
        grid-column: 1;
        grid-row: 5;
    }

    .label-box-email {
        grid-column: 1;
        grid-row: 6;
    }

    .reserv__form__button {
        grid-column: 1;
        grid-row: 7;
    }

    .reserv-entertainmen-flex {
        margin-bottom: 5px;
    }
}