.reserv__container {
    padding-top: 80px;
    width: 1440px;
    height: 1114px;
    background-color: #440f51;

}

.reserv-hall {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.reserv__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16667;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.reserv-hall__radio__button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.reserv-hall__radio__button input[type=radio] {
    display: none;
}

.reserv-hall__radio__button label {
    cursor: pointer;
    padding: 8px 25px;
    line-height: 40px;
    width: 250px;
    height: 55px;
    background-color: #fff;
    color: #000;
    border-radius: 6px;
    user-select: none;
}

.reserv-hall__label {
    padding-top: 50px;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.33333;
    text-transform: uppercase;
    color: #000;
}