.review__wrap {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.review__wrap-content {
    margin: 0 auto;
}

.review__container__figure {
    position: relative;
    display: inline-block;
    width: 280px;
    height: 319px;
    margin-right: 20px;
}

.review__container-img {
    display: inline-block;
    max-width: 280px;
    height: 280px;

}

.review__container__figure::after {
    content: "";
    position: absolute;
    display: block;
    width: 280px;
    height: 280px;
    border-radius: 140px;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.5;
    background: radial-gradient(50% 50% at 50% 50%, rgb(196, 196, 196) 0%, rgb(108, 2, 135) 100%);
}

.review__container__quote {
    display: inline-block;
    padding-top: 50px;
    width: 680px;
    vertical-align: top;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: #fff;
}



.review__container-figcaption {
    text-align: center;
    padding-top: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #fff;
}


@media (max-width: 1395px) {
    .review__container__figure {
        max-width: 172px;
        height: 172px;
    }

    .review__container-img {
        width: 172px;
        height: 172px;
    }

    .review__container__figure::after {
        width: 172px;
        height: 172px;
    }

    .review__container-author {
        max-width: 172px;

    }

    .review__container__quote {
        width: 515px;
        font-size: 18px;
    }

    .review__container__link {
        font-size: 18px;
    }

    .review__container__quote__text {
        padding-top: 30px;

    }

    .review__container__name {
        padding-left: 25px;
    }

    .review__wrap {
        gap: 40px;
    }

}

@media (max-width: 911px) {

    .review__container {

        gap: 50px 10px;

    }

    .review__container-padding {
        width: 600px;
        padding: 0 50px;
    }

    .review__container-img {
        max-width: 153px;
        height: 153px;
    }

    .review__container__figure::after {
        width: 153px;
        height: 153px;
    }

    .review__container__figure {
        width: 153px;
    }

    .review__container__quote__text {
        width: 380px;
        font-size: 16px;
        line-height: 1.375;
    }

    .review__container__link {
        font-size: 14px;
    }
}

@media (max-width: 580px) {
    .review__wrap-content {
        display: flex;
        flex-direction: column;
    }

    .review__container__figure {
        align-self: center;
    }

    .review__container__quote__text {
        width: 280px;
        font-size: 12px;
    }

    .review__container-figcaption {
        width: 178px;
    }
}