.review__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
}





.review__container {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 50px 40px;

}

.review__container-author {
    max-width: 280px;
}

.review__container__quote {
    max-width: 680px;
    align-self: flex-start;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: var(--color-text, #fff);
}

.review__container__quote__text {
    padding-top: 60px;

}

.review__container__name {
    padding-top: 10px;
    padding-left: 60px;
}

.review__container__figure {
    position: relative;

}


.review__container__figure::after {
    content: "";
    position: absolute;
    left: 0;
    border-radius: 140px;
    width: 280px;
    height: 280px;
    background: transparent;
    opacity: 0.3;
    background: radial-gradient(50% 50% at 50% 50%, rgb(196, 196, 196) 0%, rgb(108, 2, 135) 100%);
}

@media (max-width: 1395px) {
    .review__container__figure {
        max-width: 172px;
        height: 172px;
    }

    .review__container__figure::after {
        width: 172px;
        height: 172px;
    }

    .review__container-author {
        max-width: 172px;

    }

    .review__container__quote {
        width: 515px;
    }

    .review__container__link {
        font-size: 18px;
    }

    .review__container__quote__text {
        padding-top: 30px;

    }

    .review__container__name {
        padding-left: 25px;
    }

    .review__wrap {
        gap: 40px;
    }

}

@media (max-width: 900px) {

    .review__container {

        gap: 50px 10px;

    }

    .review__container-padding {
        width: 600px;
        padding: 0 50px;
    }

    .review__container__figure {
        max-width: 153px;
        height: 153px;
    }

    .review__container__figure::after {
        width: 153px;
        height: 153px;
    }

    .review__container__quote__text {
        font-size: 16px;
    }

    .review__container__link {
        font-size: 14px;
    }
}

@media (max-width: 580px) {
    .review__container {
        width: 280px;
        padding: 0;
        flex-wrap: wrap;
        gap: 0;
    }

    .review__container__quote__text {
        font-size: 12px;
    }
}