.review__container__figure {
    float: left;
    padding-left: 100px;
    margin-right: 20px;
}

.float-clear {
    clear: left;
}

.review__container {
    position: relative;
}

.review__container__quote {
    padding-bottom: 45px;
    padding-left: 165px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: #fff;

}

.review__container__img {
    margin-bottom: 11px;
}

.review__container__quote__text {
    padding-right: 100px;
    padding-top: 50px;
}