.servis__container {
    --cart-count: 3;
    --gap: 20px;
}

.servis__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    column-gap: var(--gap);
    row-gap: 40px;
}

.servis__content {
    flex-basis: calc(100% / var(--cart-count) - (var(--gap) * (var(--cart-count) - 1)) / var(--cart-count));
    max-width: 380px;
    height: 228px;
    padding-top: 166px;
    padding-left: 40px;
    cursor: pointer;
    background-repeat: no-repeat;
    transition-duration: 200ms;
    background-size: cover;

}

.servis__content:hover {
    transform: scale(1.1);
}

.servis__content:hover:nth-child(3n+2) {
    transform: translateY(70px) scale(1.1);
}


.servis__content_vr {

    background-image: url(../img/vr.jpg);
}

.servis__content_audio {
    transform: translateY(70px);
    background-image: url(../img/audio.jpg);
}

.servis__content_karaoke {
    background-image: url(../img/micro.jpg);
}

.servis__content_game {

    align-self: flex-start;
    background-image: url(../img/game.jpg);
}

.servis__content_cinema {
    transform: translateY(70px);
    background-image: url(../img/netflix.jpg);
}

.servis__content_playstation {

    background-image: url(../img/sony.jpg);
}

.servis__content__text {

    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: var(--color-text, #fff);
}


@media (max-width: 1395px) {
    .servis__content {
        width: 287px;
        height: 172px;
        padding-top: 114px;
        padding-left: 20px;
    }



    .servis__content__text {
        font-size: 20px;

    }

}

@media (max-width: 900px) {
    .servis__content {
        width: 334px;
        transform: none;
    }

    .servis__container {
        --cart-count: 2;
        --gap: 20px;
    }

}

@media (max-width: 580px) {
    .servis__wrapper {
        align-content: flex-start;
        row-gap: 10px;
    }

    .servis__content {
        padding-top: 30px;
        padding-left: 10px;
        width: 135px;
        height: 76px;

    }

    .servis__content__text {
        font-size: 10px;
        line-height: 1.4;
    }

    .servis__container {
        --cart-count: 2;
        --gap: 10px;
    }
}