.servis__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
}

.servis__content {
    width: 380px;
    height: 228px;
    cursor: pointer;
    background-repeat: no-repeat;
    transition-duration: 200ms;
}

.servis__content:hover {
    transform: scale(1.2);

}


.servis__content_vr {
    background-size: 100%;
    background-image: url(/img/vr.jpg);
}

.servis__content_audio {
    background-image: url(/img/audio.jpg);
}

.servis__content_karaoke {
    background-image: url(/img/micro.jpg);
}

.servis__content_game {
    background-image: url(/img/game.jpg);
}

.servis__content_cinema {
    background-image: url(/img/netflix.jpg);
}

.servis__content_playstation {
    background-image: url(/img/sony.jpg);
}

.servis__content__text {
    padding-top: 165px;
    padding-left: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: #fff;
}