.servis__container {
    --cart-count: 3;
    --gap: 20px;

}

.servis__wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--gap);
    row-gap: 40px;
}

.servis__content {
    flex-basis: calc(100% / var(--cart-count) - (var(--gap) * (var(--cart-count) - 1)) / var(--cart-count));
    height: 228px;
    cursor: pointer;
    background-repeat: no-repeat;
    transition-duration: 200ms;

}

.servis__content:hover {
    transform: scale(1.1);

}


.servis__content_vr {

    background-image: url(../img/vr.jpg);
}

.servis__content_audio {
    transform: translateY(70px);



    background-image: url(../img/audio.jpg);
}

.servis__content_karaoke {
    background-image: url(../img/micro.jpg);
}

.servis__content_game {

    align-self: flex-start;
    background-image: url(../img/game.jpg);
}

.servis__content_cinema {
    transform: translateY(50px);
    background-image: url(../img/netflix.jpg);
}

.servis__content_playstation {

    background-image: url(../img/sony.jpg);
}

.servis__content__text {
    padding-top: 165px;
    padding-left: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: var(--color-text, #fff);
}