* {
    box-sizing: border-box;
}

body {
    width: 1440px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1B1A1B;
    color: #FFFFFF;
}

body h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.25;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

}

blockquote {
    text-transform: uppercase;
}

h4 {
    margin: 0;
}

.wrapper {
    width: 1440px;
    padding: 30px;
    margin: 0 auto;
}