.wrap-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.wrap-content-bgc-img {
    width: 380px;
    height: 229px;
    background-size: contain;
    padding-top: 78px;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}



.wrap-content-bgc-wild {
    background-image: url(/img/wild\ west.jpg);
}

.wrap-content-bgc-star {
    background-image: url(/img/star\ wars.jpg);

}

.wrap-content-bgc-neon {
    background-image: url(/img/neon\ style.jpg);
}

.wrap-content-bgc-80 {
    background-image: url(/img/80vibes.jpg);
}

@media (max-width: 1395px) {
    .wrap-content-bgc-img {
        width: 288px;
        height: 178px;
        padding-top: 50px;
    }
}

@media (max-width: 900px) {
    .wrap-content {
        flex-wrap: wrap;
        gap: 8px;
    }

    .wrap-content-bgc-img {
        width: 224px;
        height: 134px;
        padding-top: 50px;
        font-size: 20px;
    }

    @media (max-width: 580px) {
        .wrap-content-bgc-img {
            width: 280px;
        }
    }

}