.position-banner {
    max-width: 1440px;
    height: 750px;
    padding-top: 280px;
    background-image: url(/img/picture80.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.position-banner-neon {
    background-image: url(/img/computre.jpg);
}

.position-banner-star {
    background-image: url(/img/Dartw.jpg);
}

.position-banner-wild {
    background-image: url(/img/texas.jpg);
}

.header-back::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 15px;
    left: 0;
    background-image: url(/img/img-nav/strekkanaz.svg);
}

.header-back {
    position: relative;
    padding-left: 40px;
    margin-bottom: 20px;
}

.banner__title {
    font-weight: 700;
    font-size: var(--fs-90);
    line-height: 0.88889;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}



.banner-text {
    max-width: 1000px;
    height: 108px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
}

@media (max-width: 1395px) {
    .position-banner {
        padding-top: 170px;
        height: 534px;
        margin-bottom: 60px;
    }

    .banner-text {
        font-size: 20px;
    }

}

@media (max-width: 900px) {
    .header__halls {
        margin-bottom: 40px;
    }

    .position-banner {
        padding-top: 130px;
        height: 402px;
    }

    .header-back {
        font-size: 16px;
    }

    .banner__title {
        font-size: 60px;
    }

    .banner-text {
        width: 688px;
        height: 72px;
        font-size: 16px;
        margin: 0 auto;
    }
}

@media (max-width: 580px) {
    .header__halls {
        margin-bottom: 20px;
    }

    .header-back {
        font-size: 12px;
    }

    .position-banner {
        padding-top: 50px;
        height: 168px;
        margin-bottom: 30px;
    }

    .banner__title {
        font-size: 30px;
    }

    .banner-text {
        width: 280px;
        min-height: 168px;
        font-size: 16px;
        margin: 0 auto;
    }
}