.about-the-room-wrap {
    display: flex;
    justify-content: space-between;
}

.about-the-room-wrap-content-img {
    width: 600px;
    height: 424px;
    background-image: url(/img/80vibes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.about-the-room-wrap-content-neon {
    background-image: url(/img/neon\ style.jpg);
}

.about-the-room-wrap-content-star {
    background-image: url(/img/star\ wars.jpg);
}

.about-the-room-wrap-content-wild {
    background-image: url(/img/wild\ west.jpg);
}



.about-the-room-wrap-text {
    width: 500px;
    height: 155px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: #fff;
    align-self: center;
}